# External dependencies & cloned packages
donkeycar-main/
gym-donkeycar-25.10.06/
gym-donkeycar-master/

# Python & Virtual Environments
.venv/
venv/
env/
ENV/
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/

# Binaries & Executables
DonkeySimWin2/
*.exe
*.dll

# Large Data Files & Models (> 100MB)
*.npz
*.pth
*.h5
*.onnx

# Datasets & Logs
data/
logs/
unitylog_*.txt

# Misc & Temp
scratch/
stare/
tmp/
%USERPROFILE%/
.DS_Store
Thumbs.db
